// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file

process {
    errorStrategy = 'ignore'
    executor = 'slurm'
    //executor = 'local'
    clusterOptions = {
        " -A ${params.project} -p ${params.partition} "
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements
    withName:
    FASTP {
        container = 'staphb/fastp:latest'
        cpus = 8
        time = 10.m
    }

    withName:
    SHOVILL {
        container = 'https://depot.galaxyproject.org/singularity/shovill:1.1.0--hdfd78af_1'
        cpus = 10
        memory = 64.GB
        time = 30.m
    }

    withName:
    ASSEMBLY_STATS {
        container = 'staphb/bbtools:latest'
        cpus = 4
        time = 10.m
    }

    withName:
    CLASSIFY_TAXONOMY {
        container = 'staphb/kraken2:latest'
        cpus = 20
        memory = 128.GB
        time = 20.m
    }

    withName:
    PROKKA {
        container = 'staphb/prokka:1.14.5'
        cpus = 12
        time = 10.m
    }

    withName:
    MULTIQC {
        container = 'staphb/multiqc:latest'
        cpus = 4
        time = 20.m
    }
}
